view/__pycache__/view.cpython-313.pyc
view/__pycache__/viewAlert.cpython-313.pyc
view/__pycache__/main.cpython-313.pyc
Model/__pycache__/ModelYoutube.cpython-313.pyc
Model/__pycache__/ModelConfiguration.cpython-313.pyc
controls/__pycache__/ControllerBoot.cpython-313.pyc
controls/__pycache__/ControllerDb.cpython-313.pyc
controls/__pycache__/ControllerOrganizer.cpython-313.pyc
controls/__pycache__/ControllerSettings.cpython-313.pyc
controls/__pycache__/ControllerYotube.cpython-313.pyc
view/__pycache__/main.cpython-313.pyc
controls/__pycache__/Controllerdecompress.cpython-313.pyc
venv/